<html>
<head>
    <meta charset="UTF-8">
    <title>myntra</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<style>
    #clr{
        background-color: pink;
        
    }
</style>
<body class="bdy">
    <div class="container">
        <div class="navbar">
            <div class="logo">
                <img src="../static/myntralogo.png" width="125px">
            </div>
            <div class="nav">
                <a class="list" href="">MEN</a>
                <a class="list" href="">WOMEN</a>
                <a class="list" href="">KIDS</a>
                <a class="list" href="">HOME & LIVING</a>
                <div class="dropdown">
                    <button class="dropbtn">
                        <h4>BEAUTY</h4>
                        <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-content">
                        <a href="#">Skincare,Bath & Body</a>
                        <a href="#">Baby Care</a>
                        <a href="#">Masks</a>
                        <a href="#">HairCare</a>
                        <a href="#">Frangrances</a>
                        <a href="#">Appliances</a>
                        <a href="#">Bueaty Gift & Makeup set</a>
                       
                    </div>
                </div>
                <div class="search">
                    <form class="example">
                        <input type="text"
                               placeholder="&nbsp; Search for products,brands and more"
                               name="search">
                    </form>
                </div>
            </div>
            &nbsp;&nbsp;&nbsp;
            <div class="icon">

                <li class="li"><img class="bag" src="../static/profile.png" width="30px" height="30px" hspace=5 vspace=5></li>
                <li class="li"><img class="bag" src="../static/whistlist.png" width="30px" height="30px" hspace=5 vspace=5></li>
                <li class="li"><img class="bag" src="../static/bag.png" width="30px" height="30px" hspace=5 vspace=5></li>
            </div>
            <hr>
        </div>
    </div>
    

    <div class="bg">
        <div class="form" >
            <form id ="clr"action="/success" method='post' enctype='multipart/form-data'>
                <br>
                <label id="clr" for="event">Choose an event: </label>
                &nbsp; 
                <select name="name" id="event">
                    <option value="daily">Daily</option>
                    <option value="traditional">Traditional</option>
                    <option value="party">Party</option>
                    <option value="formal">Formal</option>
                </select>
                <br /><br />
                <img src="../static/sample.jpg" height="300px" width="250px" />
                <br>
                <h4 id="clr">Upload your photo without makeup and with correct brightness</h4>
                <br><br>
                <input type="file" value="file" name="file" />
                <br /><br />
                <input type="submit" name="submit" id="button" value="Let's Go!!!" />
                <br>
            </form>
        </div>
        <br>
    </div>
    

    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-col-1" id="footercol">
                    <h3 class="subheads">ONLINE SHOPPING</h3>
                    <ul class="no-bullets">
                        <li>Men</li>
                        <li>Women</li>
                        <li>Kids</li>
                        <li>Home & Living</li>
                        <li>Beauty</li>
                        <li>Gift Cards</li>
                        <li>Myntra Insider</li>
                    </ul>
                </div>
                <div class="footer-col-2" id="footercol">
                    <h3 class="subheads">USEFUL LINKS</h3>
                    <ul class="no-bullets">
                        <li>Contact Us</li>
                        <li>FAQ</li>
                        <li>T&C</li>
                        <li>Terms Of Use</li>
                        <li>Shipping</li>
                        <li>Cancellation</li>
                        <li>Returns</li>
                        <li>Whitehat</li>
                        <li>Blog</li>
                        <li>Carrers</li>
                        <li>Privacy policy</li>
                        <li>Site Map</li>
                    </ul>
                </div>
                <div class="footer-col-3" id="footercol">
                    <h3 class="subheads">EXPERIENCE MYNTRA APP ON MOBILE</h3>
                    <img src="../static/googlePlay.png" height="40" width="120" />
                    <img src="../static/appleStore.png" height="40" width="120" />
                    <h3 class="subheads">KEEP IN TOUCH</h3>
                    <div class="logos">
                        <a href="#" class="fa fa-facebook">
                            <img src="../static/facebook.png" height="20" width="22" />
                        </a>
                        <a href="#" class="fa fa-twitter">
                            <img src="../static/twitter.png" height="20" width="22" />
                        </a>
                        <a href="#" class="fa fa-youtube">
                            <img src="../static/youtube.png" height="20" width="22" />
                        </a>
                        <a href="#" class="fa fa-instagram">
                            <img src="../static/insta.png" height="20" width="22" />
                        </a>
                    </div>

                </div>
                <div class="footer-col-3" id="footercol">
                    <p>
                        <img src="../static/original.png" height="50" width="50" />  <h3>100% ORIGINAL</h3>
                    </p>
                    <br />
                    <p>
                        <img src="../static/30.png" height="50" width="50" /> <h3>Return within 30days</h3>
                    </p>

                </div>
            </div>
        </div>
    </div>

</body>
</html>