/* CSS Document */


.card{text-align: center; border: none; border-radius: 5px;-webkit-box-shadow: 12px 14px 22px 2px rgba(0,0,0,0.75);
-moz-box-shadow: 12px 14px 22px 2px rgba(0,0,0,0.75);
box-shadow: 12px 14px 22px 2px rgba(0,0,0,0.75);
margin-bottom: 100px;
}
.carousel-inner {
	max-width: 500px;

}
.green-color {
color:green;
}

.carousel-control-prev, .carousel-control-next {
	cursor: pointer;
  	position: absolute;
  	top: 50%;
  	bottom: 40%;
  	color: grey;
  	font: bold;
  	
  	
}
.carousel-control-next,.carousel-control-prev{
  
  border-radius: 4px 4px 4px 4px;
}

/* On hover, add a black background color with a little bit see-through */
.carousel-control-prev:hover, .carousel-control-next:hover {
  background-color: rgba(0,0,0,0.8);
  border-radius: 4px 4px 4px 4px;

}

.box {
  float: left;
  height: 20px;
  width: 40px;
  margin-bottom: 15px;
  border: 1px solid black;
  clear: both;
}

.RedBlaza {
  background-color:#D2042D;
}

.BrownSugar{
  background-color: #9A2A2A;
}

.PinkRose{
  background-color:#F88379;
}

.RedWine{
  background-color:#8B0000;
}
.PinkPromCP2{
  background-color:#DE3163;
}

*{
  margin:  0;
  padding: 0;
  box-sizing: border-box;
  background-color: FFFFFF;
}
.navbar{
  display:  flex;
  align-items:  center;
  padding:  20px;


}

.body {
  font-family:  'Poppins',sans-serif;
  margin: 0;
}
.nav
{
  flex: 1;

}
.ul {
  display:  inline-block;
  list-style-type:  none;
}
.li
{
  display: inline;
  margin-right:  30px;
}

.list {
  text-decoration: none;
  font-weight: bold;
  color:  black;
}
.container {
  
  max-width:  1700px;
  margin:  auto;
  padding-left:  20px;
  padding-right:  20px;
  background-size: auto;
  background-color: white;
}
.search input[type=text]{
            width:300px;
            height:25px;
            border-radius:8px;
            border: none;
  
        }
          
        .search{
            float:right;
            margin:2px;
            border-color:#D8D8D8;
            border-radius: 20px;
            border-style: solid;

  
        }
          
        .search button{
            background-color: whitesmoke;
            float: right;
            padding: 5px 10px;
            margin-right: 16px;
            font-size: 12px;
            border: none;
            cursor: pointer;
        }


.no-bullets {
  list-style-type: none;
  margin-bottom: 10px;
}

#footercol {
  padding-right: 20px;
  padding-left: 30px;
}

.logos {
  padding-left:10px;
}
.subheads{
  padding-top: 10px;
  padding-bottom: 20px;
}
#show:hover ul.list-categories {
  max-height: inherit;
  opacity: 1;
}
.list-categories {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  max-height: 0px;
  opacity: 0;
  overflow: hidden;
  transition: opacity 300ms ease;
}
.form {
  font-size: 30px;
  height: 600px;
  text-align: center;
  margin: 20px 20px 20px 20px;
  
  
}
#button {
  width: 10em;
  height: 5em;
  color: white;
  background-color: blue;
  border-radius: 10px;
  
}
